.header {
    position: fixed;
    width: 100%;
    height: 84px;
    z-index: 1;
    background-color: #fff;
}

.header .grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.app {
    display: flex;
    justify-content: center;
}

.header__nav-item a {
    color: #303030;
    font-weight: 600;
    font-size: 14px;
}

.header__nav-item svg {
    stroke: #303030;
}

.header__nav {
    display: flex;
}

.header__nav-item {
    margin-right: 29px;
}

.header__logo {
    padding: 13px 0;
}

.header__action-item {
    margin-right: 25px;
}

.header__action-item:last-of-type {
    margin-right: unset;
}

.container {
    width: 100%;
    margin-top: 116px;
}

.image__wrapper {
    position: relative;
    /* background-color: #ccc; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 266px;
    margin-bottom: 84px;
}

.image__title {
    font-size: 48px;
    font-weight: 500;
}

.image__breadcrum {
    font-size: 14px;
    font-weight: 500;
}

.image__wrapper img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.gallery {
    width: calc(50% - 30px);
    margin-right: 20px;
    padding-top: 50%;
}

.infor {
    width: 50%;
}