.container {
    width: 100%;
    margin-top: 136px;
}

header{
    margin-top: -136px;
}

.article {
    height: 490px;
    background-position: right center;
    background-size: 60% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
   
}

.article__author {
    padding: 150px 0 27px 0;
    font-size: 20px;
    font-weight: 100;
}

.article__heading {
    font-size: 24px;
    font-weight: 700;
}

.article__subheading {
    padding: 32px 0 28px 70px;
    font-size: 14px;
    font-weight: 100;
    max-width: 450px;
}

.article .btn {
    margin-left: 70px;
}
/* .content {
    position: absolute;
    top: 215px;
    left: 590px;
    position: relative;
} */
.btn {
    background-color: #F598A4;
    height: 59px;
    width: 228px;
    border: none;
    outline: none;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    background-color: #121212;
    color: #fff;
}
.news{
    height: 295px;
    margin-top: 73px;
}
.news img{
    width: 100%;
    position: absolute;
    left: 0px;
}
.news_email{
    position: relative;
    display: flex;
    color: #f5f5f5;
    justify-content: space-between;
    margin: 0 75px;
    top: 109px;
}
.news_span span{
    margin-top: 10px;
    font-size: 14px;
}
.news_button input{
    width: 400px;
    height: 60px;
    color: #f5f5f5;
}
.news_button button{
    width: 156px;
    height: 60px;
    background-color:#F598A4;
    color: #f5f5f5;
}
.btn__mail {
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden; 
    border: 1px solid #f5f5f5;
}

::placeholder {
    color: #f5f5f5;
    opacity: 1;
    padding-left: 20px;
}

.article2 {
    height: 490px;
    background-position: left center;
    background-size: 60% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
   
}
.article2__author{
        padding: 150px 0 27px 0;
        font-size: 20px;
        font-weight: 100;
        margin-left: 850px;
}
    
.article2__heading {
        font-size: 24px;
        font-weight: 700;
        margin-left: 850px;
    }
    
.article2__subheading {
        padding: 32px 0 28px 70px;
        font-size: 14px;
        font-weight: 100;
        max-width: 450px;
        margin-left: 850px;
    }
    
.btn2 {
        background-color: #F598A4;
        height: 59px;
        width: 228px;
        border: none;
        outline: none;
        font-size: 17px;
        font-weight: 700;
        color: #ffffff;
        cursor: pointer;
        margin-left: 920px;
    }
    
.btn2:hover {
        background-color: #121212;
        color: #fff;
    }

    .image__wrapper {
        position: relative;
        /* background-color: #ccc; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 266px;
        margin-bottom: 84px;
    }
    
    .image__title {
        font-size: 48px;
        font-weight: 500;
    }
    
    .image__breadcrum {
        font-size: 14px;
        font-weight: 500;
    }
    
    .image__wrapper img {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
    }
