.header {
    position: fixed;
    width: 100%;
    height: 84px;
    z-index: 1;
    background-color: #fff;
}

.header .grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.app {
    display: flex;
    justify-content: center;
}

.header__nav-item a {
    color: #303030;
    font-weight: 600;
    font-size: 14px;
}

.header__nav-item svg {
    stroke: #303030;
}

.header__nav {
    display: flex;
}

.header__nav-item {
    margin-right: 29px;
}

.header__logo {
    padding: 13px 0;
}

.header__action-item {
    margin-right: 25px;
}

.header__action-item:last-of-type {
    margin-right: unset;
}


.tittle_cart p{
    margin-top: 120px;
    font-family: 'roboto', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
    margin-left: 50px;
    margin-bottom: -50px;
}

.main {
    width: 1519.2px;
    background-color: #F5F5F5;
}
.container {
    max-width: 1290px;
    width: 100%;
    display: flex;
}

.container__quantity-item {
    padding: 12px;
}
.cart_block{
    width: 850px;
    border: 1px solid black ;
    background-color: #FFFFFF;
    padding: 10px;
}

.cart-page {
    margin-top: 10%;
    margin:  100px auto;
}

.name__product{
    padding-left: 30px;
}
 
table {
    width: 100%;
    border-collapse: collapse;
}

.img_cart{
    padding-left: 25px;
    width: 175px;
}

.cart__info {
    display: flex;
    flex-wrap: wrap;
}
.shuffle{
    width: 15px;
    height: 15px;
}

th {
    text-align: left;
    padding: 10px;
    background-color: #F598A4;
    color: #FFFFFF;
}

td {
    padding: 10px 5px;
}

.remove {
    color: #ff523b;
    font-size: 12px;
}

td img {
    width: 150px;
    height: 150px;
    margin-right: 10px;
}

.total__price {
    /* display: flex; */
    justify-content: flex-end;
    background-color: #FFFFFF;
    margin-left: 60px;
}

.total__price table{
    max-width: 30px;
    box-shadow: 1px 1px 1px 1px #AAA;
    /* margin-left: 100px; */
}

.total__price td{
padding: 10px 20px;

}
#total_color{
    text-align: left !important;
    font-size: 24px;
}

.hr{
    width: 120%;
}

.btn {
    height: 40px;
    padding: 0 100px;
    margin-left: 33px;
    border: none;
    background-color: #F598A4;
    font-size: 15px;
    font-weight: 500px;
    text-transform: uppercase;
    color: #fff;
    width: 97%;
    /* transition: all 0.4s ease-out 0s; */
    /* -webkit-transition: all 0.4s ease-out 0s; */
}

.btn >.text_button{
    width: 100px;
    margin: 0 auto;
}

.btn:hover{
    background-color: #222222;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
} 


.footer{
    width: 100%;
    height: 421px;
    background-color: #211F1F;
}

.footer .grid{
    display: flex;
    justify-content: space-between;
    margin: auto;
    color: #f5f5f5;
}

/* Checkout */


.form-control .checkout_1{
    width: 350px;
    float: left;
    
}

.form-control .checkout_2{
    width: 350px;
    float: left;
    margin: 0 auto;
}

.form_check{
    padding: 30px;
    height: 350px;
    box-shadow: 1px 1px 1px 1px #AAA;
    border: none;
}

.form-control .input_check>label{
    font-size: 18px;
    font-weight: 500;
}

.form-control .input_check>input{
    width: 90%;
    height: 30px;
    padding: 5px;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tittle_cart_1 p{
    font-family: 'roboto', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
    margin-left: 50px;
    margin-bottom: 20px;
}

.payment_method{
        width: 770px;
        box-shadow: 1px 1px 1px 1px #AAA;
        background-color: #FFFFFF;
        margin-left: 50px;
        margin-bottom: 20px;
        height: 35px;
}


.payment_1{
    width: 420px;
    display: flex;
    padding: 10px;
    margin-left: 20px;
    float: left;
}

.payment_2{
    width: 250px;
    /* float: left; */
    padding: 10px;
    margin-left: 500px;
    display: flex;
}

.payment_radio{
    margin-left: 10px;
}

