.header {
    position: fixed;
    width: 100%;
    height: 84px;
    z-index: 1;
    background-color: #fff;
}

.header .grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.app {
    /* display: flex; */
    justify-content: center;
}

.header__nav-item a {
    color: #303030;
    font-weight: 600;
    font-size: 14px;
}

.header__nav-item svg {
    stroke: #303030;
}

.header__nav {
    display: flex;
}

.header__nav-item {
    margin-right: 29px;
}

.header__logo {
    padding: 13px 0;
}

.header__action {
    display: flex;
}

.header__action-item {
    margin-right: 25px;
}

.header__action-item:last-of-type {
    margin-right: unset;
}

.search__result {
    position: absolute;
    top: 50px;
}

.search__item {
    background-color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.search__item:hover {
    opacity: 0.9;
}

.search__item img {
    width: 50px;
    height: 50px;
}

.error {
    color: red;
}

.bubble {
    display: flex;
    background-color: #F598A4;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    position: absolute;
    justify-content: center;
    align-items: center;
    color: white;
    right: 65px;
    top: 15px;
    font-weight: bold;
}